{% extends 'base-administration.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Download Dateien Übersicht</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for downloadFile in downloadFiles %}
            <tr>
                <td>{{ downloadFile.name }}</td>
                <td>{{ downloadFile.description }}</td>
                <td class="kgv-admin-list-action-items">
                    <span class="kgv-admin-list-action-item"><a href="{{ path('download_file_edit', {'id': downloadFile.id}) }}"><i class="fas fa-edit"></i></a></span>
                    <span class="kgv-admin-list-action-item"><a href="{{ path('download_file_delete', {'id': downloadFile.id}) }}" onclick="return
                    confirm('Soll diese Datei entgültig gelöscht werden?');"><i class="fas fas fa-trash-alt"></i></a></span>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">keine Dateien zum Download gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('download_file_new') }}">neue Datei hochladen</a>
{% endblock %}
