{% extends 'base-administration.twig' %}

{% block title %}Edit News{% endblock %}

{% block body %}
    <h3>Ankündigung bearbeiten</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning">{{ button_label|default('Änderung speichern') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('administrationNews') }}">zurück zur Übersicht</a>

    {{ include('administration/news/_delete_form.twig') }}

{% endblock %}
