{% extends 'base-administration.twig' %}

{% block title %}Admin: Vorstände{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h3>Übersicht Vorstände</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Auflistung Reihenfolge</th>
            <th>Name</th>
            <th>Position</th>
            <th><i class="fas fa-mail"></i></th>
            <th><i class="fas fa-phone"></i></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for executive in executives %}
            <tr>
                <td>{{ executive.sort }}</td>
                <td class="text-nowrap">{{ executive.Name }}</td>
                <td>{{ executive.position }}</td>
                <td>{{ executive.email }}</td>
                <td class="text-nowrap">{{ executive.phone }}</td>
                <td class="kgv-admin-list-action-items">
                    <a href="{{ path('administrationExecutiveEdit', {'id': executive.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">keine Einträge gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('administrationExecutiveNew') }}" class="btn btn-primary">neuen Vorstand anlegen</a> #}
{% endblock %}
