<footer class="footer bg-dark text-white mt-auto">
    <div class="container pt-3">
        <div class="row">
            <div class="col-6 col-md-6 col-lg-3 column">
                <div class="footer__list-title">Verein</div>
                <ul class="footer__list-container list-unstyled">

                    <li><a href="{{ path('newsList') }}">Ankündigungen</a></li>
                    <li><a href="{{ path('clubExecutives') }}">Vorstand</a></li>
                    <li><a href="{{ path('clubRules') }}">Satzung</a></li>
                    <li><a href="{{ path('clubGardenRules') }}">Garten Ordnung</a></li>
                    <li><a href="{{ path('clubHistory') }}">Geschichte</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 column text-lg-left text-right">
                <div class="footer__list-title">Die Anlage</div>
                <ul class="footer__list-container list-unstyled">
                    <li><a href="{{ path('gardenAreaFacts') }}">Die Anlage in Zahlen</a></li>
                    <li><a href="{{ path('gardenAreaMapOverview') }}">Übersichtsplan</a></li>
                    <li><a href="{{ path('gardenAreaPlayground') }}">Spielplatz</a></li>
                    <li><a href="{{ path('gardenAreaRouteDescription') }}">Anfahrt</a></li>
                    <li><a href="{{ path('gardenAreaWalkThrough') }}">Spaziergang durch die Anlage</a></li>
                    <li><a href="{{ path('gardenAreaCommandments') }}">10 Gebote des Kleingärtners</a></li>


                </ul>
            </div>
            <div class="col-6 col-lg-3 column">
                <div class="footer__list-title">Essentials</div>
                <ul class="footer__list-container list-unstyled">
                    <li><a href="{{ path('contact') }}">Kontakt</a></li>
                    <li><a href="{{ path('imprint') }}">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <p class="small text-right">Made with <span class="footer__heart">❤</span> by saparot.io, © 2021</p>
    </div>
</footer>