<nav class="navbar navbar-expand flex-column flex-md-row bd-navbar sticky-top">
    <a class="navbar-brand" href="#">Kleingarten Oedenberger Strasse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('landingPage') }}">Start <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutUs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Verein
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('newsList') }}">Ankündigungen</a>
                    <a class="dropdown-item" href="{{ path('clubExecutives') }}">Vorstand</a>
                    <a class="dropdown-item" href="{{ path('clubRules') }}">Satzung</a>
                    <a class="dropdown-item" href="{{ path('clubGardenRules') }}">Garten Ordnung</a>
                    <a class="dropdown-item" href="{{ path('clubHistory') }}">Geschichte</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="theArea" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    die Anlage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('gardenAreaFacts') }}">Die Anlage in Zahlen</a>
                    <a class="dropdown-item" href="{{ path('gardenAreaMapOverview') }}">Übersichtsplan</a>
                    <a class="dropdown-item" href="{{ path('gardenAreaPlayground') }}">Spielplatz</a>
                    <a class="dropdown-item" href="{{ path('gardenAreaRouteDescription') }}">Anfahrt</a>
                    <a class="dropdown-item" href="{{ path('gardenAreaWalkThrough') }}">Spaziergang durch die Anlage</a>
                </div>
            </li>
        </ul>
    </div>
</nav>