<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('landingPage') }}">KGV Oedenberger Strasse</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarContent" class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropDownClub" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Verein
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% for url in urlList.getClub.iterate %}
                            {% if  url.isSeparator %}
                                <div class="dropdown-divider"></div>
                            {% else %}
                                <a class="dropdown-item {% if  url.isActive %} active{% endif %}" href="{{ url.getUrl }}">{{ url.getNameDisplay }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropDownGarden" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gärten
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% for url in urlList.getGarden.iterate %}
                            {% if  url.isSeparator %}
                                <div class="dropdown-divider"></div>
                            {% else %}
                                <a class="dropdown-item {% if  url.isActive %} active{% endif %}" href="{{ url.getUrl }}">{{ url.getNameDisplay }}</a>
                            {% endif %}

                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropDownArea" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        die Anlage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% for url in urlList.getArea.iterate %}
                            {% if  url.isSeparator %}
                                <div class="dropdown-divider"></div>
                            {% else %}
                                <a class="dropdown-item {% if  url.isActive %} active{% endif %}" href="{{ url.getUrl }}">{{ url.getNameDisplay }}</a>
                            {% endif %}

                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item">
                    <button class="btn btn-success my-2 my-sm-0" type="submit" onclick="location.href='{{ path('waitingListClosed') }}';">freie Gärten</button>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropDownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }} <i class="fas fa-cog" alt="User Menü"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ include('layout/navigation/admin.twig') }}
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}" role="button">Logout</a>
                        </div>

                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}" role="button">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>

    </nav>
</header>